:root {
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --darked-bgc: #DFDDD0;
    --bg-color: #EDEAE0;

    --yellow-color: #EEC52A;
    --red-color: #DF3931;
    --blue-color: #25285E;

    --body-font: 'FFGoodPro Regular', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
/* Обычный */
@font-face {
    font-family: 'FFGoodPro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('FFGoodPro Regular'),
    url('/assets/fonts/FFGoodPro-Regular.woff2') format('woff2'),
    url('/assets/fonts/FFGoodPro-Regular.woff') format('woff'),
    url('/assets/fonts/FFGoodPro-Regular.ttf') format('ttf'),
    url('/assets/fonts/FFGoodPro-Regular.eot') format('eot');
}
.text-1 {
    font-family: 'FFGoodPro Regular';
}


/* Обычный */
@font-face {
    font-family: 'FFGoodProXCond Regular';
    font-style: normal;
    font-weight: normal;
    src: local('FFGoodProXCond Regular'),
    url('/assets/fonts/FFGoodProXCond-Regular.woff2') format('woff2'),
    url('/assets/fonts/FFGoodProXCond-Regular.woff') format('woff'),
    url('/assets/fonts/FFGoodProXCond-Regular.ttf') format('ttf'),
    url('/assets/fonts/FFGoodProXCond-Regular.eot') format('eot');
}
.text-1 {
    font-family: 'FFGoodProXCond Regular';
}

/* Жирный */
@font-face {
    font-family: 'FFGoodProXCond Bold';
    font-style: normal;
    font-weight: bold;
    src: local('FFGoodProXCond Bold'),
    url('/assets/fonts/FFGoodProXCond-Bold.woff2') format('woff2'),
    url('/assets/fonts/FFGoodProXCond-Bold.woff') format('woff'),
    url('/assets/fonts/FFGoodProXCond-Bold.ttf') format('ttf'),
    url('/assets/fonts/FFGoodProXCond-Bold.eot') format('eot');
}
.text-2 {
    font-family: 'FFGoodProXCond Bold';
    font-weight: bold;
}



body {
    background-color: var(--bg-color);
    font-family: var(--body-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'FFGoodProXCond Bold', sans-serif;
}
.darked {
    background-color: var(--darked-bgc);
}

.header {
    display: flex;
}
.navbar {
    margin-left: auto;
}
.nav__list {
    list-style: none;
}
@media screen and (min-width: 968px) {
    .nav__list {
        display: flex;
        flex-direction: row;
    }
}



.welcome {
    display: flex;
}
.welcome__png {
    width: 50%;
    margin-left: auto;
    position: relative;
}
.welcome__png img {
    width: 100%;
    display: flex;
}
.original__img {
    position: relative;
    z-index: 4;
}
.duplicated__img {
    position: absolute;
    top: 0;
    right: 0;
}
.duplicated__img.mask__yellow {
    transform: translateX(-15px);
    z-index: 3;
}
.duplicated__img.mask__red {
    transform: translateX(-30px);
    z-index: 2;
}
.duplicated__img.mask__blue {
    transform: translateX(-45px);
    z-index: 1;
}
.welcome__png p {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}

/* FOOTER */
/* /. FOOTER */