:root {
    --header-height: 3rem;

    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --darked-bgc: #DFDDD0;
    --bg-color: #EDEAE0;

    --yellow-color: #EEC52A;
    --red-color: #DF3931;
    --blue-color: #25285E;

    --body-font: 'FFGoodPro Regular', sans-serif;
    --title-font: 'FFGoodProXCond Bold', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    font-weight: 700;
    color: var(--blue-color);
    text-decoration: none;
}
a:hover {
    color: var(--red-color);
}
/* Обычный */
@font-face {
    font-family: 'FFGoodPro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('FFGoodPro Regular'),
    url('./assets/fonts/FFGoodPro-Regular.woff2') format('woff2'),
    url('./assets/fonts/FFGoodPro-Regular.woff') format('woff'),
    url('./assets/fonts/FFGoodPro-Regular.ttf') format('ttf'),
    url('./assets/fonts/FFGoodPro-Regular.eot') format('eot');
}
.text-1 {
    font-family: 'FFGoodPro Regular';
}


/* Обычный */
@font-face {
    font-family: 'FFGoodProXCond Regular';
    font-style: normal;
    font-weight: normal;
    src: local('FFGoodProXCond Regular'),
    url('./assets/fonts/FFGoodProXCond-Regular.woff2') format('woff2'),
    url('./assets/fonts/FFGoodProXCond-Regular.woff') format('woff'),
    url('./assets/fonts/FFGoodProXCond-Regular.ttf') format('ttf'),
    url('./assets/fonts/FFGoodProXCond-Regular.eot') format('eot');
}
.text-1 {
    font-family: 'FFGoodProXCond Regular';
}

/* Жирный */
@font-face {
    font-family: 'FFGoodProXCond Bold';
    font-style: normal;
    font-weight: bold;
    src: local('FFGoodProXCond Bold'),
    url('./assets/fonts/FFGoodProXCond-Bold.woff2') format('woff2'),
    url('./assets/fonts/FFGoodProXCond-Bold.woff') format('woff'),
    url('./assets/fonts/FFGoodProXCond-Bold.ttf') format('ttf'),
    url('./assets/fonts/FFGoodProXCond-Bold.eot') format('eot');
}
.text-2 {
    font-family: 'FFGoodProXCond Bold';
    font-weight: bold;
}



body {
    background-color: var(--bg-color);
    font-family: var(--body-font);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}
.section-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
.social .section-title {
    text-align: left;
}
.darked {
    background-color: var(--darked-bgc);
}

.header {
    display: flex;
    padding: 15px 0;
    font-size: 28px;
    z-index: 9999;
    position: relative;
}
.navbar {
    margin-left: auto;
    align-self: center;
}
.nav__list {
    list-style: none;
}
@media screen and (min-width: 968px) {
    .nav__list {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 600px){
    .social {
        margin-top: auto;
    }
}
.nav__item {
    padding-left: 10px;
}
.nav__link {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    transition: all .3s ease;
    display: flex;
    font-size: 18px;
}
.nav__link:hover {
    color: var(--title-color);
}
.welcome__info {
    display: flex;
    flex-direction: column;
}
.home__address {
    font-size: 18px;
    line-height: 26px;
}
.home__address .home__information {
    align-items: center;
}
.social .social__item {
    font-size: 50px;
}
.welcome__wrapper {
    display: flex;
}
.welcome__text {
    font-weight: 600;
    text-transform: uppercase;
}
.welcome__title {
    font-size: 75px;
    font-family: var(--title-font);
}
.welcome__png {
    width: 50%;
    margin-left: auto;
    position: relative;
}
@media (min-width: 769px) {
    .welcome__png {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .welcome__info {
        margin-top: 100px;
    }
    .welcome__wrapper {
        height: calc(100vh - 58px);
    }
}
@media screen and (max-width: 768px) {
    .welcome__png p {
        display: none;
    }
    .welcome__png {
        order: 4;
    }
    .welcome__info {
        margin-top: 20px;
    }
}
@media screen and (max-width: 600px) {
    .welcome__wrapper {
        flex-direction: column;
    }
}
.home__information {
    display: flex;
}
.welcome__png img {
    width: 100%;
    display: flex;
}
.welcome__png p {
    text-transform: uppercase;
    color: var(--bg-color);
    font-size: 74px;
    text-align: end;
    font-family: var(--title-font);
    line-height: 85%;
}
.original__img {
    position: relative;
    z-index: 4;
}
.duplicated__img {
    position: absolute;
    top: 0;
    right: 0;
}
.duplicated__img.mask__yellow {
    transform: translateX(-15px);
    z-index: 3;
}
.duplicated__img.mask__red {
    transform: translateX(-30px);
    z-index: 2;
}
.duplicated__img.mask__blue {
    transform: translateX(-45px);
    z-index: 1;
}
.welcome__png p {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}
.welcome__wrapper.container {
    padding-right: 0;
}

.social__container {
    display: flex;
}



/*code editor*/
.highlight {
    background-color: #f8f8f8;
}
.highlight pre{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 3px;
    border: 1px solid var(--title-color);
}
.highlight .c1 {
    color: #999988;
    font-style: italic;
}
.highlight .na {
    color: #008080;
}
.highlight .nb {
    color: #0086B3;
}
.highlight .s1 {
    color: #d14;
}
.highlight .kd {
    color: #000000;
    font-weight: bold;
}

/*/.code editor*/

/* FOOTER */
/* /. FOOTER */
@media screen and (min-width: 969px){
    .nav__toggle {
        display: none;
    }
}
@media screen and (max-width: 968px) {
    .navbar {
        position: fixed;
        top: -146%;
        left: 0;
        width: calc(100% - 46px);
        height: calc(100% - 114px);
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        transition: .3s;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav__link {
        font-size: 56px;
    }
    .header {
        bottom: 0;
        background-color: var(--body-color);
        box-shadow: 0 -1px 4px rgba(0,0,0,.1);
        justify-content: space-between;
    }
    .footer-row {
        padding-bottom: 1em;
    }
    .navbar.show-menu {
        background-color: var(--bg-color);
        z-index: 5;
    }
}
.show-menu {
    top: var(--header-height);
}
.nav__toggle {
    cursor: pointer;
}

section {
    padding-top: 40px;
    padding-bottom: 20px;
}
section.welcome {
    padding-top: 0;
    padding-bottom: 0;
}
.skill__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;
    justify-content: center;
}
.skill__item {
    font-size: 50px;
    background-color: var(--yellow-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.project__item {
    max-width: 150px;
    transition: all .3s ease;
}
.project__item:hover {
    transform: scale(1.1);
}
.project__img {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.project__img img {
    height: fit-content;
    align-self: center;
}
.project__img.svg img{
    height: 150px;
}
.project__item h4 {
    text-transform: uppercase;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.rss {
    width: 102px;
    height: 38px;
    -webkit-mask-image: url(./assets/svg/rss.svg);
    -webkit-mask-size: cover;
    background-color: var(--blue-color);
    /*background-image: url(./assets/svg/rss.svg);*/
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s;
}
.rss:hover {
    background-color: var(--red-color);

}

@media screen and (max-width: 1200px) {
    .welcome__png {
        max-height: 700px;
    }
}

.project__item a {
    color: #000;
}